<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.vutbr.fit.tam.acceleroscroll"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".AcceleroScrollDemo"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    
<service android:name="AcceleroScrollService"></service>
<activity android:name="AcceleroScrollPreferences" android:launchMode="singleInstance"></activity>
<activity android:name="AcceleroScrollImages"></activity>
</application>
    <uses-sdk android:minSdkVersion="8" />

<uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest> 